body {
    width: 100%;
}

.table-condensed tr th {
    border: 0px solid #1c1b1b;
    color: white;
    background-color: #1c1b1b;
    text-transform: uppercase;
}

.my-table thead th {

}

.table-condensed, .table-condensed tr td {
    border: 0px solid #000;
}

.table-tipopag a {
    text-decoration: none;
    color: aquamarine;
}

#btnInsertCli, #btnInsertPro {
    display: none;
}

#btnCleanCli, #btnCleanPro {
    display: none
}

#TextBox5 .ajax__calendar_body {
    width: 2900px;
    background: white;
    border: 1px black;
}
