body {
    width: 100%;
}

.my-table tr td input, .my-table tr td select, .my-table tr td .input-group {
    margin-left: auto;
    margin-right: auto;
}

.table-condensed tr th {
    border: 0px solid #1c1b1b;
    color: white;
    background-color: #1c1b1b;
    text-transform: uppercase;
}

.table-condensed, .table-condensed tr td {
    border: 0px solid #000;
}

.table-responsive {
    max-height: 300px;
}

#itemsPedido {
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.input-group {
    width: 280px;
}

.tdProd {
    width: auto;
    display: flex;
    align-items: center;
    -webkit-justify-content: inherit;
    justify-content: inherit;
}

.prodImg {
    margin-left: auto;
    margin-right: 10px;
}

.form-select {
    width: 200px !important;
}

.table-tipopag a {
    text-decoration: none;
    color: aquamarine;
}
