body {
    width: 100%;
}

.table-condensed tr th {
    border: 0px solid #1c1b1b;
    color: white;
    background-color: #1c1b1b;
    text-transform: uppercase;
}

.table-condensed, .table-condensed tr td {
    border: 0px solid #000;
}

.table-produto a {
    text-decoration: none;
    color: aquamarine;
}

img.prodImg {
    position: absolute;
}

.img-container {
    height: 100px;
    width: 100px;
    overflow: hidden;
    position: relative;
}

#btnInsertPag, #btnInsertCli {
    display: none;
}

#btnCleanPag, #btnCleanCli {
    display: none
}
