body {
    width: 100%;
    margin: 5px;
}

.table-condensed tr th {
    border: 0px solid #1c1b1b;
    color: white;
    background-color: #1c1b1b;
    text-transform: uppercase;
}

.table-condensed, .table-condensed tr td {
    border: 0px solid #000;
}

.my-content > .btn:not(:last-child) {
    margin-right: 20px !important;
}

.my-content {
    float: right;
}

.table-produto a {
    text-decoration: none;
    color: aquamarine;
}

#btnInsertPag, #btnInsertCli {
    display: none;
}

#btnCleanPag, #btnCleanCli {
    display: none
}
